<div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">


                <form class="form-signin" role="form" ng-submit="login(username,password)">
                    <h2 class="form-signin-heading">Mark Starbucks</h2>
                    <input type="text" class="form-control" placeholder="Username" required="" autofocus="" ng-model="username" >
                    <input type="password" class="form-control" placeholder="Password" required=""  ng-model="password">
                    <br />
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                </form>

            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>