<div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">


                <form class="form-signin" role="form" ng-submit="login(username,password)">
                    <h2 class="form-signin-heading" style="text-align: center"><span style="font-family: 'Patrick Hand SC', cursive;">Starbucks</span></h2>
                    <input type="text" class="form-control input-lg" placeholder="Username" required="" autofocus="" ng-model="username" ><br />
                    <input type="password" class="form-control input-lg" placeholder="Password" required=""  ng-model="password">
                    <br />
                    <button class="btn btn-lg btn-warning btn-block" type="submit">Login</button>
                </form>

            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>