<div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 style="border-bottom: 1px #ddd solid"><i class="fa fa-map-marker"></i>  Map Icons
                    <a class="btn btn-success pull-right" href="#/mapicon/create" style="margin-top: -7px;"><i class="fa fa-plus-square"></i> Create Icon</a>
                </h2>

                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Tag</th>
                        <th>Icon</th>
                        <th>Updated</th>
                        <th>-</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="mapicon in mapicons">
                            <td>{{mapicon._id}}</td>
                            <td>{{mapicon.name}}</td>
                            <td>{{mapicon.tag}}</td>
                            <td><img class="template-image" ng-src="/api/media/get/large/{{mapicon.mediaId}}"/></td>
                            <td>{{mapicon.updated}}</td>
                            <td>
                                <a class="btn btn-warning" href="#/mapicon/edit/{{mapicon._id}}"><i class="fa fa-pencil"></i> Edit</a>
                                <a class="btn btn-danger" ng-confirm-click="Are you sure you want to delete?" ng-confirmed-click="remove(mapicon._id)" ><i class="fa fa-trash"></i> Delete</a>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div ng-show="loading" style="text-align: center">
                    <i class="fa fa-refresh fa-spin fa-2x"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .template-image{
        max-width:100px;
        height: auto;
    }
</style>