<div>
    <div class="container">
        <div class="row">
            <form role="form" ng-submit="save(name,tag,mediaId,pointsThreshold,packId)">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" ng-model="name" placeholder="Name" required>
                </div>
                <div class="form-group">
                    <label for="tag">Tag</label>
                    <input type="text" class="form-control" id="tag" ng-model="tag" placeholder="Tag">
                </div>
                <div class="form-group">
                    <label for="points">Points Threshold</label>
                    <input type="text" class="form-control" id="points" ng-model="pointsThreshold"
                           placeholder="Points Threshold" required>
                </div>
                <div class="form-group">
                    <label for="packId">PackId</label>
                    <input type="text" class="form-control" id="packId" ng-model="packId" placeholder="PackId">
                </div>
                <div class="form-group">
                    <label for="mediaId">Background Image
                        <span
                                ng-click="removeImage()"
                                ng-show="imgSrc && !loading"
                                class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Remove Image</span>
                    </label>
                    <input type="hidden" name="mediaId" id="mediaId" ng-model="mediaId" required/>

                    <div style="border:2px dashed gray;width:100%;height:100px;text-align: center;line-height: 100px"
                         ng-file-drop="onFileSelect($files)"
                         ng-file-drag-over-class="optional-css-class-name-or-function"
                         ng-show="dropSupported  && !imgSrc && !loading">Drop file here
                    </div>

                    <div ng-file-drop-available="dropSupported=true"
                         ng-show="!dropSupported && !imgSrc == '' && !loading">
                        <input type="file" ng-file-select="onFileSelect($files)"></div>
                    <div ng-show="imgSrc && !loading">
                        <img ng-src="{{imgSrc}}">
                    </div>
                    <div ng-show="loading" style="text-align: center">
                        <i class="fa fa-refresh fa-spin fa-2x"></i>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>


        </div>


    </div>
</div>