<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <i class="fa fa-bars"></i> <span class="sr-only">Toggle navigation</span>
        </button>

        <a class="navbar-brand" href="#"><img src="/images/marklogo.png" class="navbarlogo"/> <span style="font-family: 'Patrick Hand SC', cursive;">Starbucks</span> </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav" ng-show="isLoggedIn">
            <li ng-class="{active: location == '/templates'}"><a href="#/templates"><i class="fa fa-file-image-o"></i> Templates</a></li>
            <li ng-class="{active: location == '/mapicon'}"><a href="#/mapicon"><i class="fa fa-map-marker"></i> Map Icons</a></li>
            <li ng-class="{active: location == '/mapiconpack'}"><a href="#/mapiconpack"><i class="fa fa-map-marker"></i> Map Icons Packs</a></li>
            <li ng-class="{active: location == '/reports'}"><a href="#/reports"><i class="fa fa-exclamation-triangle"></i> Reports</a></li>
        </ul>

        <form class="navbar-form navbar-right" style="padding-right: 0px">


            <div ng-show="isLoggedIn" class="btn btn-warning" style="position: relative;" >
                <div class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user"></i> {{username}} <span class="caret"></span>
                </div>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
                </ul>


            </div>
            <div ng-hide="isLoggedIn">
                <a href="#/login" class="btn btn-warning" ><i class="fa fa-sign-in"></i> Login</a>
            </div>

        </form>

    </div>

</div><!-- /.container-fluid -->