
$primaryColor: #a077d5;
$bgQuestionImage: #eaeaea;
$textNotImportantColor:  #aaa;

$textNotImportantSize: 12px;

$huh1: #85E39D;
$huh2: #FFCF1A;
$huh3: #E03A5D;
$huh4: #52ACBE;
$huh5: #FF9C1B;
$huh6: #F08596;
$huh7: #34495E;
$huh8: #6D72CE;
