.index-page {
    margin-top: 40px;
    color: white;

    md-input-container .md-input {
        color: white;
    }
    md-select:not([disabled]):focus .md-select-label{
        color: white;
    }

    md-content {
        background: transparent;
    }

    .index-icon {
        text-align: center;
        fill: white;
    }

    .index-section {
        text-align: center;
    }

}

.index-hero-image {
    padding-right: 100px;
    padding-left: 0px;
    text-align: center;

    .little-mummy {
        width: 70%;
    }
}

.footer-menu{
    border-top: 1px solid rgba(white,.2);
    margin-top: 80px;

    > div {
        @include flex-grow(1);

        a {
            text-align: center;
            display: block;
            padding: 25px 10px;
            color: rgba(white, .5);
            text-decoration: none;
            text-transform: uppercase;
            font-size: 12px;

            &:hover {

                color: rgba(white, .8);
                background: 1px rgba(white, .1);
            }
        }
    }
}