.inner-list{
    @include justify-content(center);
    @include align-items(stretch);
    @include display(flex);
}

.inner-list-child{
    width: 100%;
    max-width: 500px;
}

.panel-card {
    width: 100%;
    max-width: 500px;
    border-radius: 4px;
    margin-bottom: 16px;
    @include transition(0.02s padding cubic-bezier(0.35, 0, 0.25, 1));
    position: relative;
    padding-bottom: 0px;

    @media screen and (max-width: 500px) {

        border-radius: 0px;
    }
}

.panel-card-big {
    width: 100%;
    max-width: 900px;
    border-radius: 4px;
    margin-bottom: 16px;
    @include transition(0.02s padding cubic-bezier(0.35, 0, 0.25, 1));
    position: relative;

    @media screen and (max-width: 900px) {

        border-radius: 0px;
    }
}

.action-btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
}
