md-toolbar.md-default-theme {
    background-color: $primaryColor;
    color: white;
}

.md-button.md-default-theme.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab {
    font-size: 28px;
}

md-list {
    padding: 0px;
}