md-toolbar.md-default-theme {
    background-color: $primaryColor;
    color: white;
}

md-list {
    padding: 0px;
}

.md-button.md-fab md-icon{
    line-height: 1;
}
.md-button.md-secondary {
    margin: 0px;
}