.create-question {
    .create-question-word {
        color: white;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
        cursor: pointer;
    }
    .create-question-mark {
        font-size: 20px;
        text-align: center;
        padding-bottom: 20px;
    }

    .create-question-button {
        width: 97%;
    }
}