.question-container{
    @include align-items(stretch);
    padding-right: 20px;
    position: relative;

    &:hover {
        background: #fafafa;
    }

    .question-score-container{
        @include flex(inherit);
    }

    .question-type-title{
        @include flex(inherit);
        min-width: 30px;
    }
    .question-profile-image {
        position: absolute;
        top: 10px;
        left: 12px;
        background: $bgQuestionImage;
        border-radius: 20px;
        padding: 3px;
        img {
            display: block;
            width: 30px;
            height: 30px;
        }
    }
    .question-content{
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .question-replies {
        float: right;
    }

    .question-score {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: inline-block;
    }
    .question-created, .question-more, .comment-created{
        color: $textNotImportantColor;
        font-size: $textNotImportantSize;
    }
    .question-text{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}