@import "angular-material.min.css";
@import "font-awesome.min.css";
@import "textAngular.css";
@import "/fonts/huh-font/huhfont.css";
@import "bourbon";
@import "colors";
@import "question";
@import "questionCreate";
@import "header";
@import "layout";
@import "mdMods";
@import "starbucksLogin";
@import "starbucksDashboard";
@import "textAngular";
@import "index";
@import "pages";

html, body {
    background-color: #a077d5;
}

html, body, input, textarea, keygen, select, button {
    font-family: 'Varela Round', sans-serif;
}

.main-view-container, .starbucks-main-view  {
    background-color: #a077d5;
}
.starbucks-main-view {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}