@import "angular-material.min.css";
@import "font-awesome.min.css";
@import "textAngular.css";
@import "bourbon";
@import "colors";
@import "question";
@import "header";
@import "layout";
@import "mdMods";
@import "starbucksLogin";
@import "starbucksDashboard";
@import "textAngular";

body {
    font-family: 'Varela Round', sans-serif;
    background-color: #a077d5;
}

.main-view-container, .starbucks-main-view  {
    background-color: #a077d5;
}