
.navbar-default {
    background-color: #13c79b;
    border-color: #00ac82;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fafafa;
    background-color: #434041;
}
.navbar-default .navbar-nav>li>a {
    color: #fafafa;
}
.navbarlogo {
    height: 43px;
    width: auto;
    margin-top: -10px;
    float: left;
}

.btn-success {
    color: #fff;
    background-color: #13c79b;
    border-color: #00ac82;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #00ac82;
    border-color: #00ac82;
}

.btn-warning {
    color: #fff;
    background-color: #fbc700;
    border-color: #fbc700;
}

.btn-danger {
    color: #fff;
    background-color: #ff5a54;
    border-color: #ff5a54;
}

.template-image{
    max-width:100px;
    height: auto;
}

body,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    color:#434041;
}