extends layout

block content
  div.container
    br
    img(src="/images/markindexlogo.png",style="width:280px;margin-left:-10px;")
    div.row
      div.col-xs-12.col-md-6.col-md-offset-3
        p.lead Interested?
        form.form-inline#interested(target="_self",action="javascript: postIndexForm()",role="form")
            div.form-group
                input.input-lg.form-control#email(type="email",name="email",placeholder="Email",required="required")
            button.btn.btn-warning.btn-lg(type="submit")  Let us know!
        div#spinner.lead.invisible
            i.fa.fa-refresh.fa-spin
        div#thanks.lead.invisible
            i.fa.fa-check-circle
            span Thank You!
        br
  style(type='text/css')
      |body { background: url('/images/bg.jpg') center; }


