<div layout="column" layout-align="start center" class="max-width index-page" >
    <div layout-sm="column" layout="row" layout-align="start center" flex-no-shrink class="index-main-layout">
        <div flex-gt-sm="60"  layout-sm="row" flex-no-shrink class="index-hero-image">
            <img src="/images/mummy2.gif" class="little-mummy"/>
            <img src="/images/huh-logo-text.png" />
        </div>
        <div flex-gt-sm="40" class="index-form" >
            <form name="registerForm" ng-submit="register()" ng-show="!loading && !done && !err && !already">
                <div layout="column">
                    <md-input-container flex>
                        <label>Email:</label>
                        <input ng-model="email" type="email" name="email" ng-required="true">
                        <div ng-messages="registerForm.email.$error" ng-if='emailRequired'>
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <md-input-container flex>
                        <md-select placeholder="Platform" name="platform" ng-model="platform"  ng-required="true">
                            <md-option value="ios">
                                <md-icon style="margin-top: -5px;"><ng-md-icon icon="apple"></ng-md-icon></md-icon>
                                <span>iOS</span>
                            </md-option>
                            <md-option value="android">
                                <md-icon><ng-md-icon icon="android"></ng-md-icon></md-icon>
                                <span>Android</span>
                            </md-option>
                        </md-select>

                        <div ng-messages="registerForm.platform.$error" ng-if='platformRequired'>
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-button class="md-raised md-primary" flex style="margin: 2px;">Register</md-button>
                </div>
            </form>
            <md-progress-circular md-mode="indeterminate" ng-show="loading"></md-progress-circular>
            <md-content ng-show="done" class="index-section">
                <div class="index-icon">
                    <ng-md-icon icon="done" size="120"></ng-md-icon>
                </div>
                <p>Done! you will receive the invitation soon.</p>
            </md-content>
            <md-content ng-show="already" class="index-section">
                <div class="index-icon">
                    <ng-md-icon icon="warning" size="120"></ng-md-icon>
                </div>
                <p>Already registered, be patient! you will receive an invitation soon.</p>
                <md-button class="md-raised md-primary" ng-click="reset()">Try another email</md-button>
            </md-content>
            <md-content ng-show="err"  class="index-section">
                <div class="index-icon">
                    <ng-md-icon icon="error" size="120"></ng-md-icon>
                </div>
                <p>There was an unknown error, please try again.</p>
                <md-button class="md-raised md-primary" ng-click="reset()">Try again</md-button>
            </md-content>


        </div>
    </div>

    <div layout-sm="column" layout="row" layout-align="center center" flex-no-shrink fill-parent-width class="footer-menu">
        <div>
            <a href="#/p/about-us">About us</a>
        </div>
        <div>
            <a href="#/p/terms-of-use">Terms of use</a>
        </div>
        <div>
            <a href="#/p/privacy-policy">Privacy policy</a>
        </div>
        <div>
            <a href="#/p/rules">Rules</a>
        </div>
        <div>
            <a href="mailto:feedback@huhapp.com">Send feedback</a>
        </div>
    </div>
</div>

<!--div class="inner-list">
    <div layout="column" layout-fill  class="inner-list-child">
        <md-content>
            <md-list>
                <md-item ng-repeat="question in questions">
                    <huh-question question="question"> </huh-question>
                    <md-divider inset></md-divider>
                </md-item>
            </md-list>
        </md-content>
    </div>
</div-->