<div layout="column" layout-align="start center" class="max-width-big" >
    <div  layout="row" layout-align="center center" flex-no-shrink fill-parent-width class="page-top-menu">
        <div>
            <a href="#/" class="logo-link">
                <div layout="row" layout-align="center center">
                    <img class="logo" src="/images/huh.png" />
                    <img class="logo-text" src="/images/huh-logo-text.png" />
                </div>
            </a>
        </div>
        <div>
            <a href="#/p/about-us">About us</a>
        </div>
        <div>
            <a href="#/p/terms-of-use">Terms of use</a>
        </div>
        <div>
            <a href="#/p/privacy-policy">Privacy policy</a>
        </div>
        <div>
            <a href="#/p/rules">Rules</a>
        </div>
        <div>
            <a href="mailto:feedback@huhapp.com">Send feedback</a>
        </div>
    </div>
</div>

<md-progress-linear md-mode="indeterminate" ng-show="loading" ></md-progress-linear>

<md-content layout-padding class="panel-card-big md-whiteframe-z5" ng-bind-html="html" flex-no-shrink>
</md-content>

<div layout="column" layout-align="start center" class="max-width" >
    <div  layout="row" layout-align="center center" flex-no-shrink fill-parent-width class="footer-copyright">
        <div>
            Copyright &copy; 2015 Huh App. All rights reserved.
        </div>
    </div>
</div>
