
<md-toolbar md-scroll-shrink class="gheader">
    <div class="md-toolbar-tools">
        <img class="logo" src="/images/huh.png" />
        <img class="logo-text" src="/images/huh-logo-text.png" />
        <h3>
        </h3>
    </div>
</md-toolbar>

<div class="inner-list">
    <div layout="column" layout-fill  class="inner-list-child">
        <md-content>
            <huh-question question="question"></huh-question>
            <md-divider inset></md-divider>
            <md-list>
                <md-item ng-repeat="comment in comments">
                    <huh-comment comment="comment"></huh-comment>
                    <md-divider inset></md-divider>
                </md-item>
            </md-list>
        </md-content>
    </div>
</div>