<md-item-content
        layout="row"
        class="question-container"
        ng-class="{'swiped': swiped, 'selected': comment.selected}"
        ng-click="onClick()"
        ng-right-click="onRightClick()"
        md-swipe-left="onSwipeLeft()"
        md-swipe-right="onSwipeRight()"
        ng-show="comment">
    <div flex class="question-type-title"  layout="column" layout-align="center">
    </div>
    <div flex class="question-content" layout="column" layout-align="center">
        <div class="question-created">{{comment.username}}</div>
        <div class="question-profile-image"><img src="/images/usericons/{{comment.username.toLowerCase()}}.png" /> </div>
        <div class="question-text">
            {{comment.text}}
        </div>
        <div class="question-more" >
            <span class="question-username"><span am-time-ago="comment.created"></span></span>
        </div>
    </div>
    <div flex layout="column" class="question-score-container" layout-align="center center">
        <span ng-show="withToken"
              class="huh-icon-up-vote"
              ng-click="voteUp()"
              ng-class="{active: comment.myVote == 1}"
              ng-style="comment.myVote == 1 && {'color': qColor}"></span>
        <span class="question-score">{{comment.voteScore}}</span>
        <span ng-show="withToken"
              class="huh-icon-down-vote"
              ng-click="voteDown()"
              ng-class="{active: comment.myVote == -1}"
              ng-style="comment.myVote == -1 && {'color': qColor}"></span>
    </div>

    <div class="context-menu" >
        <div flex layout="column" layout-align="center center" class="delete-button" ng-click="delete()">
            <div>Delete</div>
        </div>
    </div>
</md-item-content>

